/* ==========COMMON CSS START==========  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
/* ==========COMMON CSS END==========  */


/* ==========NAVBAR CSS END==========  */
.navbar{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin-top: 40px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 22px;
    margin-right: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    transition: all linear 0.4s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #4756DF;
}
.nav-btn button{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 15px 42px;
    color: #ffffff;
    background: #6A4DF4;
}

/* ==========NAVBAR CSS END==========  */



/* ==========BANNER CSS START==========  */
#banner{
    background: url(../images/agenc-Banner\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 315px;
    padding-bottom: 176px;
    position: relative;
    z-index: 1;
    margin-bottom: 170px;
}
#banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
#banner2{
    background: url(../images/banner\ 2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 315px;
    padding-bottom: 176px;
    position: relative;
    z-index: 1;
    margin-bottom: 170px;
}
#banner2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
#banner3{
    background: url(../images/banner\ 3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 315px;
    padding-bottom: 176px;
    position: relative;
    z-index: 1;
    margin-bottom: 170px;
}
#banner3::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
#banner4{
    background: url(../images/banner\ 4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 315px;
    padding-bottom: 176px;
    position: relative;
    z-index: 1;
    margin-bottom: 170px;
}
#banner4::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.banner-slider{
    text-align: center;
}
.slick-dots {
    position: absolute;
    bottom: 195px;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.slick-dots li{
    display: inline-block;
    margin: 0 1px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #4756DF;
}
.slick-dots li button{
    color: transparent;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    opacity: 0;
    text-align: center;
    line-height: 15px;

}
.slick-dots li.slick-active button{
    opacity: 1;
}
.banner-text h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 74px;
    color: #ffffff;
}
.banner-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 26px;
    width: 621px;
    margin: 0 auto;
    padding-top: 35px;
}
.banner-btn button{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 15px 42px;
    color: #ffffff;
    background: #6A4DF4;
    margin-top: 40px;
}

/* ==========BANNER CSS END==========  */


/* ==========SUCCESS CSS START==========  */

#our-success{
    margin-bottom: 150px;
}
.success-part{
    background: #E0FFF9;
    border-radius: 10px;
    padding-top: 78px;
    padding-bottom: 86px;
    padding-left: 50px;
    padding-right: 38px;
}
.success-text p{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #6A4DF4;
}
.success-text h3{
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #151515;
}
.success-counter{
    display: flex;
    justify-content: space-evenly;
}
.counter-item h3{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #151515;
}
.counter-item p{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #737373;
}

/* ==========SUCCESS CSS END==========  */


/* ==========SERVICE CSS START==========  */

#service-part{
    margin-bottom: 70px;
}
.common-title h3{
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #151515;
    padding-bottom: 20px;
}
.common-title p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    padding-bottom: 40px;
}
.service-item{
    border-radius: 20px;
    padding-top: 80px;
    padding-left: 49px;
    padding-right: 49px;
    display: inline-block;
    margin-bottom: 24px;
    transition: all linear 0.4s;
}
.service-item img{
    padding-bottom: 40px;
}
.service-item h3{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #151515;
    padding-bottom: 15px;
}
.service-item p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    padding-bottom: 40px;
}
.service-item:hover{
    box-shadow: 0px 0px 10px 2px #00000040;
}


/* ==========SERVICE CSS END==========  */


/* ==========RECENT CSS START==========  */

#recent-part{
    padding: 150px 0;
    background: #F3F3F3;
    margin-bottom: 150px;
}
.recent-item{
    background: #ffffff;
    text-align: center;
    border-radius: 20px;
}
.recent-item img{
    width: 100%;
}
.recent-item h4{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #151515;
    padding-top: 30px;
}
.recent-item p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    padding: 10px 42px 30px 42px;
}

/* ==========RECENT CSS END==========  */


/* ==========CHOOSING CSS START==========  */

#choose .common-title h3{
    width: 518px;
    margin: 0 auto;
}
#choose .common-title p{
    padding-bottom: 110px;
}
.choosing-item h4{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #151515;
    padding-top: 20px;
    padding-bottom: 10px;
}
.choosing-item p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #151515;
    line-height: 26px;
    padding-bottom: 80px;
    width: 344px;
}

/* ==========CHOOSING CSS END==========  */


/* ==========CLIENT CSS START==========  */
#client-part{
    margin-bottom: 227px;

}
#client-part .common-title p{
    padding-bottom: 110px;
}
.client-item{
    padding: 54px 58px;
    border-radius: 30px;
}
.client-text p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    line-height: 26px;
    padding-top: 20px;
}
.client-item i{
    font-size: 20px;
    color: #F9BD2C;
    padding-bottom: 30px;
}
.client-member img{
    margin-right: 20px;
}
.client-name h3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #232323;
}
.client-name p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
}
#client-part .slick-slide{
    margin: 0 12px;
}
.slick-slide.slick-center{
    background: #F4EFEF;
    border-radius: 30px;
}
#client-part .left {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 40px;
    height: 40px;
    background: #4756DF;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transform: translateY(-50%);
}
#client-part .right {
    position: absolute;
    top: 50%;
    right: -20px;
    width: 40px;
    height: 40px;
    background: #4756DF;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transform: translateY(-50%);
}
.client-icon{
    position: relative;
}
/* ==========CLIENT CSS END==========  */


/* ==========PRICING CSS START==========  */
#pricing-part{
    padding: 150px 0;
    background: #F3F3F3;
}
.pricing-details h4{
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #151515;
    padding-top: 177px;
    padding-bottom: 10px;
    width: 470px;
}
.pricing-details p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #151515;
    line-height: 26px;
    width: 526px;
}
.pricing-details p span{
    display: block;
    padding-top: 5px;
}
.pricing-form{
    padding: 61px 43px;
    background: #ffffff;
    border-radius: 20px;
}
.pricing-form h3{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #151515;
    text-align: center;
    padding-bottom: 30px;
}
.pricing-form p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #151515;
}
.pricing-form input{
    padding-left: 23px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 192px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #D0D0D0;
    border: 1px solid #E8E8E8;
    margin-bottom: 20px;
}
.form-button button{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 19px 142px;
    color: #ffffff;
    background: #6A4DF4;
    margin-top: 10px;
}

/* ==========PRICING CSS END==========  */


/* ==========FOOTER CSS END==========  */
#footer{
    padding-top: 150px;
}
.footer-details img{
    padding-bottom: 30px;
}
.footer-details p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7B7B7B;
    line-height: 26px;
    width: 356px;
}
.footer-item h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #151515;
    padding-bottom: 40px;
}
.footer-item p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7B7B7B;
    line-height: 40px;
    padding-bottom: 50px;
}
.footer-item p span{
    display: block;
}
.footer-bottom p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #D0D0D0;
    padding: 33px 0;
    text-align: center;
    border-top: 1px solid #E8E8E8;
}
/* ==========FOOTER CSS END==========  */